html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#cam {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 260px;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 8px 24px rgba(0,0,0,.25);
    z-index: 10;
}

#startCam {
    position: fixed; 
    right: 12px;
    bottom: 290px;   
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #778;
    background: #eef;
    cursor: pointer;
    z-index: 11;
}